extends layout

block content
    h1= title1
    center
        div.card(style='width: 18rem;')
        img.card-img-top(src='https://cdn.tgdd.vn/Products/Images/1942/171649/samsung-ua32n4300-3-550x340.jpg', alt='...')
        div.card-body
            h3.card-title Smart Tivi Samsung 32 inch UA32N4300
            h5 10.000.000VND
            a(href='/order/create_payment_url')
                button.btn.btn-success(type='button', href='/order/create_payment_url') Mua ngay
            p.card-text
                h3
                    b Đặc điểm nổi bật
                |    Thiết kế sang trọng, màn hình 32 inch nhỏ gọn.
                |    Hình ảnh sắc nét nhờ độ phân giải HD và công nghệ HDR.
                |    Công nghệ PurColor cho dải màu rộng, màu sắc sống động rực rỡ.
                |    Âm thanh mạnh mẽ với công nghệ âm thanh Dolby Digital Plus.
                |    Kho ứng dụng phong phú với hệ điều hành Tizen OS.
                |    Điều khiển tivi bằng điện thoại dễ dàng qua ứng dụng SmartThings.
                |    Hỗ trợ chiếu màn hình điện thoại lên tivi với Screen Mirroring.
                |    Cổng kết nối đa dạng: USB, HDMI, LAN, Optical...  
            


